/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
	button.mat-menu-item {
    width: 100%;
    float: left;
}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	button.mat-menu-item {
    width: 50%;
    float: left;
}
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	button.mat-menu-item {
    width: 33.333%;
    float: left;
}
}
/* very large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	button.mat-menu-item {
    width: 25%;
    float: left;
}
}
/* Extra large devices (large desktops, 1550px and up)*/
@media (min-width: 1550px) {
	button.mat-menu-item {
    width: 25%;
    float: left;
}
}



.container {
  padding: 3%;
  
}