<div class="container" fxLayout="row" fxLayoutGap="30" fxLayoutAlign="center center">
  <div>
    <button mat-raised-button [matMenuTriggerFor]="menuExemple" >Données</button>
    <mat-menu #menuExemple="matMenu" class="mega-menu" >
      <div fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-1">
        <div fxLayout="column" fxLayoutAlign="start" >
          <h7 fxLayoutAlign="center">Météo et Climat</h7>
          <button mat-menu-item>menu 1</button>
          <button mat-menu-item>Menu 2</button>
          <button mat-menu-item>menu 3</button>
          <button mat-menu-item>menu 4</button>
          <button mat-menu-item>menu 5</button>
        </div>
        <div fxLayout="column" fxLayoutAlign="start" >
          <h7 fxLayoutAlign="center">Météo et Climat</h7>
          <button mat-menu-item>menu 1</button>
          <button mat-menu-item>Menu 2</button>
          <button mat-menu-item>menu 3</button>
          <button mat-menu-item>menu 4</button>
          <button mat-menu-item>menu 5</button>
        </div>
        <div fxLayout="column" fxLayoutAlign="start" >
          <h7 fxLayoutAlign="center">Météo et Climat</h7>
          <button mat-menu-item>menu 1</button>
          <button mat-menu-item>Menu 2</button>
          <button mat-menu-item>menu 3</button>
          <button mat-menu-item>menu 4</button>
          <button mat-menu-item>menu 5</button>
        </div>
      </div>
    </mat-menu>
  </div>

  <div>
    <button mat-raised-button [matMenuTriggerFor]="menuExemple2" >Information</button>
    <mat-menu #menuExemple2="matMenu" class="mega-menu">
      <div fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-1">
        <div fxLayout="column" fxLayoutAlign="start center">
          <h7 fxLayoutAlign="center">Météo et Climat</h7>
          <button mat-menu-item>menu 1</button>
          <button mat-menu-item>Menu 2</button>
          <button mat-menu-item>menu 3</button>
          <button mat-menu-item>menu 4</button>
          <button mat-menu-item>menu 5</button>
        </div>
      </div>
    </mat-menu>
  </div>

  <div>
    <button mat-raised-button [matMenuTriggerFor]="menuExemple3" >Comunnauté</button>
    <mat-menu #menuExemple3="matMenu" class="mega-menu" >
      <div fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-1">
        <div fxLayout="column" fxLayoutAlign="start">
          <h7 fxLayoutAlign="center">Météo et Climat</h7>
          <button mat-menu-item>menu 1</button>
          <button mat-menu-item>Menu 2</button>
          <button mat-menu-item>menu 3</button>
          <button mat-menu-item>menu 4</button>
          <button mat-menu-item>menu 5</button>
        </div>
      </div>
    </mat-menu>
  </div>

  <div>
    <button mat-raised-button [matMenuTriggerFor]="menuExemple4" >Utilisateur</button>
    <mat-menu #menuExemple4="matMenu" class="mega-menu">
      <div fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-1">
        <div fxLayout="column" fxLayoutAlign="start" class="p-1">
          <h7 fxLayoutAlign="center">Météo et Climat</h7>
          <button mat-menu-item>menu 1</button>
          <button mat-menu-item>Menu 2</button>
          <button mat-menu-item>menu 3</button>
          <button mat-menu-item>menu 4</button>
          <button mat-menu-item>menu 5</button>
        </div>
      </div>
    </mat-menu>
  </div>

</div>


<!-- <div fxLayout="column" fxLayoutAlign="start" class="p-1 config">
        <button mat-menu-item></button>
        <button mat-menu-item></button>
      </div> -->
<!-- <span class="border"></span> -->
