<div fxLayout="column" fxLayoutGap="80" class=""> 
  <!-- empile les elements verticalement. Va construire la page d'haut en bas -->
  <div fxLayout="row">
    <!-- le menu -->
    <div fxFlex="10" class="brand" fxLayoutAlign="center center" >
      <h3>IH</h3>
    </div>

    <div fxFlex="70" class="navigation" fxLayout="row" fxLayoutGap="30" fxLayoutAlign="center center" fxHide.xs>
      <button mat-button [matMenuTriggerFor]="menu">Menu</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="menu">Menu</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="menu">Menu</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="menu">Menu</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>      
    </div>

    <div fxFlex="30" fxLayout="row" fxLayoutAlign="center center" >
      research
    </div>
  </div>
  
  <div fxLayout="row" fxLayoutGap="20" class="">

    <div fxFlex="25">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis aut tempora, rem quidem non nisi. Quibusdam animi harum maiores pariatur quas facere repellendus neque veritatis rem nostrum, officiis dignissimos a!
    </div>
    <div fxFlex="50" >
      <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi in sequi est enim? Iusto laboriosam, aut corrupti praesentium magnam repudiandae velit possimus voluptates quas animi accusantium suscipit ut facilis labore?</p>
    </div>
    <div fxFlex="25">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore tempora vitae a in nulla nisi ad sint consequuntur ut maiores adipisci iste natus deleniti recusandae, pariatur ex reiciendis unde. Maxime.
    </div>
  </div>

  <div class="container-box container" fxLayout="column" fxLayout.md="row" fxLayoutGap="20px">
    <div class="cardWrap" fxLayout.lt-md="column" fxLayout.md="column"  fxLayout="row" fxFlex.md="50" fxLayoutAlign="space-between center" fxLayoutGap="20px" >
      <div fxFlex.lt-md="100" fxFlex="30" >Card</div>
      <div fxFlex.lt-md="100" fxFlex="30" >Card</div>
      <div fxFlex.lt-md="100" fxFlex="30" >Card</div>
    </div>
    <div class="cardWrap" fxLayout.lt-md="column" fxLayout.md="column" fxLayout="row" fxFlex.md="50" fxLayoutAlign="space-between center" fxLayoutGap="20px" >
      <div fxFlex.lt-md="100" fxFlex="33" >Card</div>
      <div fxFlex.lt-md="100" fxFlex="33" >Card</div>
      <div fxFlex.lt-md="100" fxFlex="33" >Card</div>
    </div>
  </div>
  
</div>